@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&display=swap');

.ant-btn {
    /* display: inline-block;
    vertical-align: middle; */
    /* background: #fff; */
    color: rgba(0,0,0,0.54);
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
    border-color: transparent;
    text-align: center;
    /* border-radius: 3px;
    width: 99%; 
    height: 39px;
    padding-top: 0;
    margin-bottom: 12px;
    padding: 15px */
    
}

.full-page {
        
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #a8cce4;
    background-blend-mode: multiply;
}

.card {
    text-align: center;
    /* margin: auto; */
    margin-left: 10%;
    margin-top: 7%;
    border-radius: 20px;
    padding-top: 22px;
    box-shadow: 0 4px 8px 0 rgba(28, 27, 27, 0.604), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-bottom: 1%; */
    width: 3400px;
    height: 340px;
}

.login-text{
    margin-bottom: 8%;
    margin-top: 5%;
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 19px;
}

.Login-button {
    
    margin-bottom: 24px;
    font-family: "Trebuchet MS";
    font-weight: 600;
    width: 320px;
    height: 50px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teknorix-logo{
    width: 60%;
}

.slogan{
    font-family: 'Karla', sans-serif;
    margin-right: 10%;
    font-size: 130px;
    /* margin-top: 10%; */
    /* margin: auto; */
    /* text-shadow: 0 4px 8px 0 rgba(28, 27, 27, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* text-shadow: 5px 5px 10px black; */
    word-spacing: 10px;
    margin-top: 3%;
    line-height: 1.3;
    margin-left: 10%;
    box-sizing: border-box;
}



/* For Phones */
@media only screen and (max-width: 600px) {
    .slogan {
        display: none;
    }
    .card {
        /* text-align: center; */
        /* margin: auto;
        margin-top: 5%; */
        width: 305px;
        margin: auto;
        margin-top: 20%;
        height: 360px;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .login-text{
        margin-bottom: 12%;
        margin-top: 12%;
    }
    .teknorix-logo{
        width: 80%;
        /* display: none; */
    }
}


/*For Tablets*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .slogan {
        display: none;
    }
    .card {
        /* text-align: center; */
        /* margin: auto;
        margin-top: 5%; */
        width: 450px;
        margin: auto;
        margin-top: 20%;
        height: 405px;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .login-text{
        margin-bottom: 12%;
        margin-top: 12%;
    }
    .teknorix-logo{
        width: 80%;
        /* display: none; */
    }
}
/* 
pos rel, mar au, w 200 */