.ant-form-item-explain-error {
  color: #ff4d4f;
  margin-left: 100px;
}
.profile-name-input .ant-form-item-control-input-content {
  padding-top: 40px;
  margin-left: 100px;
}
.tags .ant-tag,
.tags .ant-tag a,
.tags .ant-tag a:hover {
  background: #fffa8b;
  color: #d48806;
  margin-left: 150px;
  margin-top: 10px;
}
.linkbutton .ant-btn-link {
  color: #1890ff;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  top: -70px;
  margin-left: 240px;
  font-size: 25px;
}
.para {
  box-shadow: "7px 7px 3px grey";
  margin: "auto   ";
  padding: "50px ";
  width: "30vw";
  height: "500px";
  background: "white";
  border-radius: "50px";
}
